{% extends 'main.html' %}

{% block content %}

<div class="card shadow p-4 col-md-6 mx-auto">

    <h3 class="text-center mb-4 text-warning">Update Student</h3>

    <form method="post" enctype="multipart/form-data"> 
     <!-- we have to use enctype="multipart/form-data" Because we have to store multiple type of data by using this form. -->
       {% csrf_token %}
        <!-- <input type="hidden" name="csrfmiddlewaretoken" value="QX0iaE2Lv17yf1kcaKPIaz2SL2mj3iFDcdAobx6ccQUmj6lm3tIYWHtiGuezcBze"> -->
        <!-- cross site request forgery token is used to prevent cross site request forgery attack.
        It is a security measure to protect against malicious attacks that can occur when a user is tricked into submitting a form from another website. 
        By including the {% csrf_token %} in the form, Django generates a unique token for each form submission, which helps to ensure that the request is coming from a trusted source and not from an attacker. 
        This token is then validated on the server side when the form is submitted, providing an additional layer of security for the application. -->
        
        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" value="{{ data.std_name }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Roll</label>
            <input type="number" name="roll" value="{{ data.std_roll }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Old Image</label><br>
            <img src="{{ data.std_image.url }}" width="100" class="mb-2 rounded">
            <input type="file" name="image" class="form-control">
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" value="{{ data.std_email }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>City</label>
            <input type="text" name="city" value="{{ data.std_city }}" class="form-control">
        </div>

        <button type="submit" class="btn btn-warning w-100">Update Student</button>

    </form>

</div>

{% endblock %}